{% block upstream %}
{% for upstream in upstream %}
    upstream {{ upstream.name }} {
{% for server in upstream.server %}
        server {{ server }};
{% endfor %}
    }
{% endfor %}
{% endblock %}

server {
    listen 80;
    server_name {{ nginx_sitename }};
        
    location / {
        root /usr/share/nginx/html/{{ nginx_sitename }};
        index index.html index.htm;
    }
}
