{% block upstream %}
{% for name in upstream %}
{% set _name = upstream[name] %}
upstream {{ name }} {
    server {{ _name['server'] }};
}
{% endfor %}
{% endblock %}

server {
    listen 80;
    server_name;

    location / {
        root /usr/share/nginx/html/{{ nginx_sitename }};
        index index.html index.htm;
    }
}
